<div *ngIf="series">
  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="row mt-2">
      <div class="col col-sm-2"><img src="{{series.imageUrl}}" alt="{{series.title}} image" class="img-fluid"></div>
      <div class="col col-sm-8 mx-2">
        <div class="h3">Notes: {{series.title}}</div>
        <div class="mb-3">
          <label for="notes" class="form-label">Review</label>
          <textarea class="form-control" id="notes" rows="3" formControlName="notes"></textarea>
        </div>

        <div class="mb-3" *ngFor="let rt of ratingControl">
          <label for="overall" class="form-label">
            <a (click)="onToggleShowRating(rt.type)">
              <span *ngIf="collapseRating[rt.type]" class="bi bi-caret-down-fill h5"></span>
              <span *ngIf="!collapseRating[rt.type]" class="bi bi-caret-right-fill h5"></span>
              {{rt.title}} 
              <app-rate-view *ngIf="form.value[rt.type]" [type]="form.value[rt.type]" [small]="true"></app-rate-view>
            </a>
          </label>
          <div class="border rounded ps-2 accordion-collapse {{collapseRating[rt.type]? 'collapse' : 'show'}}">
            <div class="form-check" *ngFor="let data of rt.data">
              <input class="form-check-input" type="radio" [formControlName]="rt.type" [value]="data.type">
              <app-rate-view [type]="data.type" [small]="false"></app-rate-view>
            </div>
          </div>
        </div>

        <button type="submit" class="btn btn-primary me-1">Save</button>
        <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </form>
</div>