<nav class="navbar navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/search">BookApp</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/search" routerLinkActive="active-header">Search</a>
        <a class="nav-link" routerLink="/series/new" routerLinkActive="active-header">Add Series</a>
      </div>
    </div>
  </div>
</nav>
<div style="position: absolute; float:right; right:0px; bottom: 0px;">
  <div class="alert alert-danger d-flex align-items-center" role="alert" *ngFor="let error of errors" [@errorAnimation]='"fadeInFlash"'>
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
    <div>
      {{error}}
    </div>
  </div>
</div> 