<div class="row mt-2">
  <div class="col col-sm-2"><img src="{{series.imageUrl}}" alt="{{series.title}} image" class="img-thumbnail"></div>
  <div class="col col-sm-8 mx-2">
    <app-series-title [series]="series" [bookmarked]="bookmarked"></app-series-title>
    <div class="mb-2" *ngIf="review">
      <app-review-view [review]="review" [medium]="true"></app-review-view>
    </div>
    <div><span class="fw-semibold">Author:</span> {{series.author}}</div>
    <div><span class="fw-semibold">Genre: </span>{{series.genre}}*</div>
    <div><span class="fw-semibold"># Books: </span>3*</div>
    <div *ngIf="!series.complete"><span class="fw-semibold">Series is NOT complete</span></div>
    <!-- <div>reviews: TODO comonent</div> -->
    <!-- <div>books: TODO comonent</div> -->
    <!-- <div>series info: TODO comonent</div> -->
    <div>
      <button class="btn btn-sm btn-outline-primary me-1" routerLink="/series/{{series.id}}">View</button>
      <button class="btn btn-sm btn-outline-success me-1" routerLink="/series/{{series.id}}/review" [queryParams]="{fromSearch: true}">Review</button>
    </div>
  </div>
</div>