<form [formGroup]="form" (submit)="onSubmit()" *ngIf="form">
  <div class="mb-3">
    <label for="title" class="form-label">Series Title</label>
    <input type="text" class="form-control" id="title" formControlName="title">
  </div>
  <div class="mb-3">
    <label for="author" class="form-label">Author</label>
    <input type="text" class="form-control" id="author" formControlName="author">
  </div>
  <div class="mb-3">
    <label for="synopsis" class="form-label">Synopsis</label>
    <textarea class="form-control" id="synopsis" rows="3" formControlName="synopsis"></textarea>
  </div>
  <div class="mb-3">
    <label for="goodreadsId" class="form-label">GoodReads Id</label>
    <input type="text" class="form-control" id="goodreadsId" formControlName="goodreadsId">
  </div>
  <div class="row mb-3 ">
    <div class="col border col-sm-auto align-items-center">
      <img src="{{form.value.imageUrl}}" height="160px" *ngIf="form.value.imageUrl">
      <span class="bi bi-exclamation-diamond h1 text-danger" *ngIf="!form.value.imageUrl"></span>
    </div>
    <div class="col col-sm-10 align-items-top">
      <label for="imageUrl" class="form-label">Image URL</label>
      <input type="text" class="form-control" id="imageUrl" formControlName="imageUrl">
    </div>
  </div>
  <div class="row mb-3 ">
    <div class="col border col-sm-3 align-items-center" *ngIf="sanitizedReviewUrl">
      <div class="ratio ratio-4x3" >
        <iframe width="300" [src]="sanitizedReviewUrl"></iframe>
      </div>
    </div>
    <div class="col border col-sm-auto align-items-center" *ngIf="!sanitizedReviewUrl">
      <span class="bi bi-exclamation-diamond h1 text-warning" ></span>
    </div>
    <div class="col col-sm-9 align-items-top">
      <label for="reviewUrl" class="form-label">Youtube Review Link</label>
      <input type="text" class="form-control" id="reviewUrl" formControlName="reviewUrl">
    </div>
  </div>
  <!-- <div class="row mb-3 ">
    <label for="reviewUrl" class="form-label">Youtube Review Link</label>
    <input type="text" class="form-control" id="reviewUrl" formControlName="reviewUrl">
  </div>
  <div *ngIf="sanitizedReviewUrl">
    <iframe width="300" [src]="sanitizedReviewUrl"></iframe>
  </div> -->
  <div class="mb-3">
    <label for="genre" class="form-label">Genre</label>
    <select class="form-select" area-label="Select Team Type" formControlName="genre">
      <option value="">Please Select</option>
      <option [value]="genre" *ngFor="let genre of genres">{{genre}}</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="complete" class="form-label">Series Is Finished</label>
    <input class="form-check-input" type="checkbox" value="" id="complete" formControlName="complete">
  </div>

  <button class="btn btn-primary me-2">Save</button>
  <button type="button" class="btn btn-primary" (click)="onCancel()">Cancel</button>
</form>