<div class="row mt-2" *ngIf="series">
  <div class="col col-sm-2 d-none d-sm-block">
    <img src="{{series.imageUrl}}" alt="{{series.title}} image" class="img-fluid">
  </div>
  <div class="col col-sm-8 mx-2">
    <span class="col col-sm-2 d-block d-sm-none ms-5">
      <!-- Display only on small screens -->
      <img src="{{series.imageUrl}}" alt="{{series.title}} image" style="max-width: 25%;">
    </span>
    <app-series-title [series]="series" [bookmarked]="bookmarked"></app-series-title>
    <app-review-view [review]="review" [medium]="true" *ngIf="review"></app-review-view>
    <div class="fs-6">
      Author: {{series.author}}
    </div>
    <div class="fs-6">
      Snopsis: {{series.synopsis}}
    </div>
    <div class="fs-6" *ngIf="sanitizedReviewUrl">
      TODO: ReviewUrl
    </div>
    <div class="fs-6 h4">
      Books:
    </div>
    <div class="ms-4 mb-2">
      <app-view-book [seriesId]="series.id" [book]="book" *ngFor="let book of books"></app-view-book>
      <app-add-book [seriesId]="series.id" [onCloseListener]="closeAddBook" *ngIf="showAddBook"></app-add-book>
      <button class="btn btn-sm btn-outline-secondary me-1" (click)="toggleShowAddBook()" *ngIf="!showAddBook">Add Book</button>
    </div>
    <div class="fs-6 h4" *ngIf="series.reviews">
      Reviews:
    </div>
    <div class="ms-4 mb-2" *ngIf="series.reviews">
      <app-review-view [review]="review.value" [small]="true" *ngFor="let review of series.reviews | keyvalue"></app-review-view>
    </div>
    <div class="row">
      <div class="col col-sm-8">
        <button class="btn btn-sm btn-outline-primary me-1" routerLink="/series/{{series.id}}/edit">Edit Series</button>
        <button class="btn btn-sm btn-outline-success me-1" routerLink="/series/{{series.id}}/review">Review Series</button>
      </div>
    </div>
  </div>
</div>